<div class="dialog-container">
  <!-- User Avatar and Input -->
  <div class="user-info">
    <img src="assets/images/image.jpeg" class="avatar" alt="User Avatar" />

    <div class="editable-content" contenteditable="true" [(ngModel)]="content" contenteditable="true"
      (input)="onContentInput($event)" [attr.data-placeholder]="'What\'s on your mind?'">
    </div>
  </div>

  <!-- Reply Settings -->
  <div class="reply-settings">
    <mat-icon>public</mat-icon>
    <span>Everyone can reply</span>
  </div>

  <!-- Image Previews -->
  <div *ngIf="imagePreviews.length > 0" class="image-preview">
    <div *ngFor="let preview of imagePreviews; let i = index" class="image-item">
      <img [src]="preview" alt="Selected Image" />
      <button class="delete-button" (click)="removeImage(i)">×</button>
    </div>
  </div>

  <!-- Toolbar -->
  <div class="toolbar">
    <!-- Icons -->
    <div class="toolbar-icons">
      <button class="toolbar-button" (click)="triggerFileUpload()">
        <mat-icon>image</mat-icon>
      </button>
      <input type="file" id="dialogFileInput" (change)="onFilesSelected($event)" accept="image/*" multiple
        style="display: none;" />
      <button class="toolbar-button">
        <mat-icon>gif</mat-icon>
      </button>
      <button class="toolbar-button">
        <mat-icon>sentiment_satisfied_alt</mat-icon>
      </button>
      <button class="toolbar-button">
        <mat-icon>event</mat-icon>
      </button>
      <button class="toolbar-button">
        <mat-icon>location_on</mat-icon>
      </button>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <button mat-button class="cancel-button" mat-dialog-close>Cancel</button>
      <!-- <button mat-raised-button color="primary" class="post-button" [disabled]="!content.trim().length">Post</button> -->
      <button mat-raised-button color="primary" class="post-button" [disabled]="!isPostButtonEnabled()">post</button>
    </div>
  </div>
</div>