<div class="body">
    <div class="card">
        <h5>Login</h5>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
          <div class="field">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Email</mat-label>
              <input matInput placeholder="pat@example.com" formControlName="email" required />
            </mat-form-field>
          </div>
         <!-- Password -->
          <div class="field">
            <mat-form-field appearance="outline" class="mat-form-field">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter your password" formControlName="password" type="password" required />
            </mat-form-field>
          </div>
      
          <!-- Submit Button -->
          <div class="field">
            <button mat-flat-button color="black" type="submit" [disabled]="loginForm.invalid">login</button>
          </div>
        </form>
      </div>
    </div>