<div class="landing-page">
    <!-- Section gauche : Icône et texte -->
    <div class="left-section">
      <div class="icon-container">
        <img src="assets/images/logo1.png" alt="Logo Postify" class="icon" />
        <h1 class="title">Postify</h1>
      </div>
    </div>
  
    <!-- Section droite : Boutons -->
    <div class="right-section">
      <h2 class="headline">Speak Your Mind !</h2>
      <button class="btn" routerLink="/register">sign up</button>
      <p > Already have an account ?</p>
      <button class="btn login" routerLink="/login">sign in</button>
    </div>
  </div>
  