<mat-toolbar class="toolbar">
    <div class="page-logo menu-left"></div>
    <div>
        <span class="hello-label"></span>
    </div>
</mat-toolbar>

<mat-drawer-container class="h-100">
    <!-- Left Sidebar -->
    <mat-drawer mode="side" opened class="menu-left">
        <div id="sidebar-menu" class="sidebar-menu">
            <div class="item-sidebar-menu mb-5">
                <div class="rect-icon">
                    <mat-icon aria-hidden="false" aria-label="Accueil" fontIcon="home"></mat-icon>
                </div>
                <a routerLink="/home"><span>Home</span></a>
            </div>

            <div class="item-sidebar-menu mb-5">
                <div class="rect-icon">
                    <mat-icon aria-hidden="false" aria-label="Recherche" fontIcon="search"></mat-icon>
                </div>
                <a routerLink="search"><span>Recherche</span></a>
            </div>

            <div class="item-sidebar-menu mb-5">
                <div class="rect-icon">
                    <mat-icon aria-hidden="false" aria-label="Notifications" fontIcon="notifications"></mat-icon>
                </div>
                <a routerLink="notif"><span>Notifications</span></a>
            </div>

            <div class="item-sidebar-menu mb-5">
                <div class="rect-icon">
                    <mat-icon aria-hidden="false" aria-label="Profil" fontIcon="person_outline"></mat-icon>
                </div>
                <a routerLink="profile"><span>Profile</span></a>
            </div>

            <div class="item-sidebar-menu" (click)="openDialog()">
                <div class="rect-icon" >
                    <mat-icon aria-hidden="false" aria-label="Ajouter un post" fontIcon="add"></mat-icon>
                </div>
                <a  ><span>Post</span></a>
            </div>

            
            <div [matMenuTriggerFor]="menu" class="logout-container">
                <!-- Icône utilisateur -->
                <mat-icon class="user-icon">account_circle</mat-icon>
                <span class="username-text">{{ username }}aaa</span>
            
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()" class="btnLogoutLabel">
                        Logout
                        <mat-icon iconPositionEnd aria-hidden="false" aria-label="Déconnexion"
                            fontIcon="keyboard_tab"></mat-icon>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-drawer>

    <!-- Right Sidebar -->
    <mat-drawer mode="side" opened position="end" class="menu-right">
        <div id="right-sidebar-menu" class="sidebar-menu-right">
            <div class="search-bar-container">
                <!-- Simple search bar in your component -->
                <div class="search-bar-container">
                    <input type="text" class="search-bar" placeholder="Search..." [(ngModel)]="searchText" />
                    <mat-icon class="search-icon">search</mat-icon>
                    <button (click)="onSearch()" class="search-btn"></button>
                </div>

            </div>
            <div class="item-sidebar-menu mb-5">
                <div class="rect-icon1">
                    <mat-icon aria-hidden="false" aria-label="Chat" fontIcon="people" class="icon1"></mat-icon>
                </div>
                <span class="ppl">Followers</span>
            </div>

        </div>
    </mat-drawer>

    <!-- Main Content -->
    <mat-drawer-content class="page-content pb-lg-5">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>